.relative {
    position: relative;
}

.text-container {
    position: absolute;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.border {
    border: solid;
    border-color: white;
    border-width: 5px;
}