.navbar-container {
    display: flex;
    border-color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.nav {
    display: flex;
    flex: 1;
}

.navbar-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex: 1;
}

.nav-pages {
    margin-left: auto;
}

.navbar-list li a {
    text-decoration: none;
    color: black;
}

.navbar-list li {
    padding: 20px;
}

.navbar-list li a:active {
    color: black;
}

.navbar-list li a:visited {
    color: black;
}