.navbar-container {
    display: flex;
    background-color: black;
    color: white;
}

.nav {
    display: flex;
    flex: 1;
}

.navbar-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex: 1;
}

.nav-pages {
    margin-left: auto;
}

.navbar-list li a {
    text-decoration: none;
    color: white;
}

.navbar-list li {
    padding: 20px;
}

.navbar-list li a:active {
    color: white;
}

.navbar-list li a:visited {
    color: white;
}