@media only screen and (min-width: 401px) and (max-width: 960px) {
    .page-preview-container {
        max-width: 400px;
    }
}

@media only screen and (min-width: 961px) {
    .page-preview-container {
        max-width: 900px;
    }
    .page-preview-image-container {
        width: 50%;
        max-width: 400px;
    }
    .page-preview-text-container {
        display: flex;
        flex: 1;
        padding-top: 20px;
    }
}