* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-wrap: wrap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  width: 100%;
  display: flex;
}

ul {
  list-style: none;
}

.container {
  display: flex;
  flex: 1;
}

.container-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.primary-bg {
  background-color: black;
  color: white;
}

.primary-bg a {
  color: white;
}

nav ul li a:active {
  color: white;
}

nav ul li a:visited {
  color: white;
}

.secondary-bg {
  background-color: lightgrey;
  color: black;
}

.ternary-bg {
  background-color: white;
  color: black;
}

.padding-lg {
  padding: 20px;
}

.padding-md {
  padding: 10px;
}

.padding-sm {
  padding: 5px;
}

.padding-bottom-lg {
  padding-bottom: 20px;
}

.padding-bottom-md {
  padding-bottom: 10px;
}

.padding-bottom-sm {
  padding-bottom: 5px;
}

.center {
  justify-content: center;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.cols {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.font-sm {
  font-size: 12px;
}

.btn {
  padding: 5px;
  background-color: #f62a2a;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.italics {
  font-style: italic;
}
